@import "../styles/global.module.scss";

.footer {
    margin: 0;
    padding: 2.4rem 0 1rem 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-style: italic;
    background: $bg-footer;
    box-shadow: 0 0 0 .3px rgba($border-primary, .6);
    a {
        text-decoration: none;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link {
        font-size: .9rem;
    }
    
    &__title {
        font-size: 1.4rem;
        @include title();
    }
    &__small {
        color: $text-second;
        font-size: .9rem;
        &__link {
            color: $text-primary;
            font-size: 1rem;
        }
    }
}