@import "../styles/global.module.scss";

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    font-style: italic;
    justify-content: center;
    background: $bg-header;
    border-bottom: .5px solid rgba($border-primary, .3);
    &__inner {
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: left;
        align-items: baseline;
    }
}
.header {
    margin: 0;
    padding: 0;
    &__title {
        color: $text-primary;
        font-size: 1.6rem;
        font-weight: 200;
        display: block;
        margin: 0 1.3rem 0 0;
        padding: .5rem 2rem .5rem 0;
        @include title();
    }
}
.nav {
    font-size: 1.3rem;
    color: $text-second;
    font-weight: 300;
    &__closed {
        font-size: 1.3rem;
        color: $text-second;
        font-weight: 300;
        @media (max-width: 700px) {
            display: none;
        }
    }
    @media (max-width: 700px) {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 10;
    }
    &__list {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        @media (max-width: 700px) {
            padding: .5rem;
            flex-direction: column;
            align-items: flex-end;
            background: $bg-header;
        }
    }
    &__item {
        font-size: 1.3rem;
        padding: 0 1.4rem;
        @media (max-width: 700px) {
            padding: .4rem;
            border-bottom: 1px dashed rgba($border-primary, .6);
        }
        &:hover {
            color: $text-primary;
        }
        &_active {
            font-size: 1.3rem;
            padding: 0 1.4rem;
            color: $text-primary;
            @media (max-width: 700px) {
                padding: .4rem;
                border-bottom: 1.5px solid rgba($border-primary, .6);
            }
        }
    }
}
.hamburger {
    display: none;
    @media (max-width: 700px) {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 1rem;
    }
}
#hamburger__toggle {
    display: none;
    &:checked {
        padding: 100px;
    }
}

.category {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: $bg-header;
    box-shadow: 0 0 0 .2px rgba($border-primary, .6);
    font-style: italic;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &__item {
        padding: .5rem 2rem;
        border-right: 1px solid rgba($border-primary, .6);
        border-left: 1px solid rgba($border-primary, .6);
        box-sizing: content-box;
        &:hover {
            background: rgba(0, 128, 255, .6);
        }
    }
}