@import "../styles/global.module.scss";

.main {
    margin: 3rem auto;
    width: 100%;
    max-width: 1000px;
    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &_about {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__inner {
            width: 100%;
        }
    }
}
.content {
    margin: auto;
    width: 95%;
    max-width: 700px;
    &__grid {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
        @media (max-width: 700px) {
            grid-template-columns: 1fr;
        }
        & > a {
            border-bottom: 1px dashed rgba($border-primary, .2);
            @media (max-width: 700px) {
                margin: auto;
                width: 95%;
                max-width: 300px;
            }
        }
    }
}
.sidebar {
    width: 90%;
    max-width: 280px;
    min-height: 500px;
    p {
        font-size: .9rem;
    }
    @media (max-width: 1000px) {
        margin-top: 10rem;
    }
}