@import "../styles/global.module.scss";

.card {
    background-color: rgb(222, 222, 222);
    border-radius: 8px;
    display: grid;
    grid-template-areas: "tumbnail"
                         "detail";
    grid-template-rows: 1.3fr 1fr;
    &__thumbnail {
        background-color: #424242;
    }
}