@import "../styles/global.module.scss";

.card {
    display: grid;
    grid-template-areas: "tumbnail"
                         "detail";
    grid-template-rows: 1.3fr 1fr;
    &__meta {
        color: $text-second;
        font-size: .9rem;
        time {
            &:before {
                content: "";
                margin-right: .3rem;
                background-image: url("../../public/published.png");
                display: inline-block;
                width: .7rem;
                height: .7rem;
                background-size: contain;
                vertical-align: middle;
            }
        }
        a {
            margin-left: 1rem;
        }
    }
    &__thumbnail {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    &__title {
        margin-top: 1rem;
        font-size: 1.2rem;
        border: none;
    }
    &:hover &__thumbnail {
        border: 2px inset rgba(0, 128, 255, .6);
    }
}