@import '../../styles/global.module.scss';

.container {
    width: 100%;
    &__image {
        margin: auto;
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
    }
    &__paragraph {
        margin: .3rem;
    }
}
.author {
    margin: .3rem 0 1rem 0;
    text-align: center;
}