$dark-mode: true;

// Dark Mode (Default)
$bg-header: rgba(5, 5, 5, .9);
$bg-footer: rgba(5, 5, 5, .9);
$bg-primary: rgb(18, 18, 18);
$text-primary: rgb(190, 190, 190);
$text-second: rgb(144, 144, 144);
$border-primary: rgb(240, 240, 240);
$quote-color: rgba(140, 140, 140, 0.5);
$marker-color: rgb(255, 0, 255);

@mixin title() {
    background-image: linear-gradient(-125deg,rgb(0, 170, 255),rgb(0, 128, 255),rgb(255, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}